PORT={{.SERVER_PORT}}
UPLOAD_DIR={{.UPLOAD_DIR}}
MAX_FILE_SIZE={{.MAX_FILE_SIZE}}
FILE_EXPIRE_HOURS={{.FILE_EXPIRE_HOURS}}
DB_HOST={{.DB_HOST}}
DB_PORT={{.DB_PORT}}
DB_NAME={{.DB_NAME}}
DB_USER={{.DB_USER}}
DB_PASSWORD={{.DB_PASSWORD}}
ADMIN_PASSWORD={{.ADMIN_PASSWORD}}