MINIO_ROOT_USER={{.MINIO_ROOT_USER}}
MINIO_ROOT_PASSWORD={{.MINIO_ROOT_PASSWORD}}
MINIO_ADDRESS=:{{.API_PORT}}
MINIO_CONSOLE_ADDRESS=:{{.CONSOLE_PORT}}
MINIO_REGION={{.REGION}}
MINIO_VOLUMES={{.DATA_DIR}}
MINIO_BROWSER=on
MINIO_LOG_LEVEL={{.LOG_LEVEL}}