# PostgreSQL 客户端认证配置文件
# 由 ITCFG 配置中台自动生成

# TYPE  DATABASE        USER            ADDRESS                 METHOD
local   all             all                                     {{.AUTHENTICATION_METHOD}}
host    all             all             {{.ALLOWED_NETWORKS}}   {{.AUTHENTICATION_METHOD}}