server:
  port: {{.SERVER_PORT}}

file-viewer:
  storage:
    path: {{.FILE_STORAGE_PATH}}
    max-file-size: {{.MAX_FILE_SIZE}}MB
  cache:
    enabled: {{.CACHE_ENABLED}}
    path: {{.CACHE_PATH}}
  {{if .REDIS_HOST}}
  redis:
    host: {{.REDIS_HOST}}
    port: {{.REDIS_PORT}}
  {{end}}

logging:
  level:
    root: {{.LOG_LEVEL}}